// header
.header {
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 2;
    background-color: #8d959b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 100px;
}
 .header {
    .navigation {
        .nav-ul {
            display: flex;
            margin-top: 31px;
            margin-bottom: 30px;
            margin-right: 100px;
        }
    }
 }



.li {
    font-family: 'Raleway';
    font-size: 30px;
    color: $colorwhite;
    text-transform: uppercase;
    margin-left: 40px;
}


// section1
.banner {
    background-image: url(../images/image2.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 1066px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.banner-text {
    position: absolute;
    width: 868px;
    height: 594px;
    margin-top: 172px;
    margin-right: 43px;
    margin-bottom: 167px;
    margin-left: 182px;

}
h1 {
    max-width: 580px;
    width: 100%;
    font-size: 100px;
    color: $colorwhite;
}
h3 {
    width: 100%;
    font-size: 35px;
    
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
    color: $colorwhite;
}
